*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(213, 214, 255);
    font-family: 'Orbitron', sans-serif;
    color: rgb(191, 190, 201);
}

.section{
    width: 100%;
    text-align: center;
    height: 30vh;
    background-color: rgb(61, 61, 121);  
    margin-bottom: 5vh;  
    border: 3px double rgb(146, 146, 158);
    border-radius: 5px;
}

.section:nth-of-type(3){
    margin-bottom: 0;
}

.section:nth-of-type(1),
.current{
    padding: 4vh 2vh 2vh 2vh;
}

.current{    
    width: 50%;
    height: 25vh;    
    margin: 0 auto;
    font-weight: 800;
}

.current__date{
    width: 100%;
    font-size: 24px;    
}

.current__time{
    width: 100%;
    font-size: 76px;
    
}

.section:nth-of-type(2){
    padding: 2vh;
}

.stopwatch{
    margin: 0 auto;
    width: 80%;
    height: 25vh;    
    display: flex;
    justify-content: space-between;
}

.stopwatch__display,
.stopwatch__laps{
    width: 40%;    
}

.stopwatch__display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stopwatch__display--dights,
.stopwatch__display--buttons{
    padding: 10px;
    width: 100%;    
}

.stopwatch__display--dights{
    margin-left: 16px;
    /* padding-left: 16px; */
    text-align: left;
    font-size: 48px;
}

.stopwatch__display--buttons{
    display: flex;
    justify-content: space-around;
}

.stopwatch__laps--list{
    padding: 8px;
    margin: 20px auto;
    list-style: none;
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    border: 1px solid snow;
}

.section:nth-of-type(3){
    display: flex;
    justify-content: space-around;
}

.timer__set,
.timer__countdown{
    width: 45%;    
}

.timer__set--display,
.timer__countdown--display{
    padding-top: 3vh;    
    height: 19vh; 
}

.timer__set--display_dights,
.timer__countdown--display{
    font-size: 76px;
}

.timer__set--display_mark{
    font-size: 26px;
}

.timer__set--buttons{
    font-size: 26px;
    padding: 0 250px 0 250px;
    display: flex;
    justify-content: space-around;
}

.timer__countdown--buttons{   
    padding: 0 230px 0 230px; 
    display: flex;
    justify-content: space-around;
}

.btn{
    cursor: pointer;
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid snow;
    transition: all .11s;
}

.btn:hover{
    color: snow;
    background-color: rgb(86, 86, 212); 
    font-weight: 700;
    box-shadow: 0px 0px 2px 2px rgba(167, 167, 255, 0.692);   
}

.btn:active{
    box-shadow: none;
    font-weight: 400;
    background-color: rgba(86, 86, 212, 0.411);
}

.timer__set--buttons .btn{
    width: 80px;
    padding-top: 0;
}


/* JS interaction */

.seconds{
    font-weight: normal;
    color: rgb(0, 119, 255);
}
